################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/.vs/NetCore/v15
/.vs/NetCore/v15/.suo
/.vs/NetCore/v15
